body {
  border: 2px solid #34495e; /* рамка вокруг всей страницы */
  margin: 0; /* убрать отступы вокруг страницы */
  padding: 20px; /* внутренние отступы страницы */
  font-family: Arial, sans-serif; /* шрифт для всего текста на странице */
}
 
  
  a:hover {
    color: #d35400;
  }